.test {
    background-color: blueviolet;
}

.layoutContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.layoutContent {
    height: calc(100% - 40px);
    overflow-y: scroll;
}

.navigationMenu {
    /* bottom: 0;
    height: 60px;
    padding: 0 1rem 24px 1rem;
    width: calc(100% - 2rem);
    position: absolute;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green; */
    bottom: 0;
    padding: 4px 1rem 4px 1rem;
    width: calc(100% - 2rem);
    position: absolute;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
}

.navigationMenu i {
    width: 48px;
    height: 48px;
    transition: all 0.2s ease;
    border: 2px solid transparent;
    border-radius: 100%;
    transform: scale(0.75);
}

.active {
    transform: scale(1) !important;
    border-color: green !important;
    background-color: white;
}

.avatar {
    background-image: url(../../assets/nav-bar/avatar.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.search {
    background-image: url(../../assets/nav-bar/search.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.home {
    background-image: url(../../assets/nav-bar/home.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.roommate {
    background-image: url(../../assets/nav-bar/roommate.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.notification {
    background-image: url(../../assets/nav-bar/notification.svg);
    background-position: center;
    background-repeat: no-repeat;
}