.container {
    height: 100vh;
}

.container, .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem 0;
}

.header-and-translate {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.group {

    align-items: flex-start;
}

.terms-check {
    display: flex;
    align-items: center;
}

#terms-link {
    text-decoration: dashed gray;
}

.additional-signup-methods {
    width: 100%;
    text-align: center;
}

.additional-methods {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}