.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem 0;
}

.divider,
.group,
.buttons {
  width: 100%;
}

.divider {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.transparentBackdrop {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}