.hidden-input {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
}

#img {
    width: 250px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: 1px solid gray;
}

.imageless {
    content: url('../../../icon-park-solid_avatar.svg');
}