.AloneBox {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.AloneBox__Content{
    display: flex;
    width: 100%;
    gap: 1.5rem;
    align-items: center;
    flex-direction: column;
}
.AloneBox__ButtonList{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1rem;
}

.who {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: calc(100% - 3.5rem);
}

.who__head {
    display: flex;
    align-items: center;
}

.who__input, .who__add, .who__persons{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.who__addText {
    opacity: 30%;
    width: 75%;
}

.who__persons {
    flex-grow: 1;
    overflow: auto;
}

.who__nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.who__navButton {
    width: 50%;
}