@use '../../../styles/_colors' as *;

.cardContainer__shadow {

    border-radius: 1rem;
    margin-bottom: 5rem;
    position: absolute;
    right:0;
    left:0;
    height: 100%;
    background-color: rgb(215, 215, 215);
    background-image: url('../../../assets/people/1.jpg');
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 24px 48px rgba(40, 6, 40, 0.1)) drop-shadow(0px 12.15px 20.925px rgba(40, 6, 40, 0.0675)) drop-shadow(0px 4.8px 7.8px rgba(40, 6, 40, 0.05)) drop-shadow(0px 1.05px 2.775px rgba(40, 6, 40, 0.0325));
}
.cardContainer {
    background-color: grey;
    border-radius: 1rem;
    flex-grow: 1;
    margin-bottom: 5rem;
    
    position: relative;
    

    .cardContainerHead {
        padding: 1rem;
        padding-bottom: 3.5rem;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        position: absolute;
        bottom: 0;
        margin-top: auto;
        left:0;
        right:0;
        top: calc( 100% - 7.5rem );
        background-color: rgba(13, 27, 42, 0.75);
        backdrop-filter: blur(4px);
        .cardContainerPersonScroll {
            display: flex;
            .cardContainerPerson{
                flex-grow: 1;
            }
            .scrollBack{
                width: 2.5rem;
                height: 2.5rem;
                transform: scale(1, -1);
                margin-top: auto;
                display: none;
            }
        }
        .scrollIcon{
            width: 2.5rem;
            height: 2.5rem;
            display: block;
            position: relative;
            margin: 0 auto;
            bottom: -1rem;
        }
        h2,
        p {
            color: $light-color;
        }
        transition: .5s ease-in-out;
        will-change: top;
        .cardContainerBages {
            display: flex;
            gap: .5rem;
            position: absolute;
            top: -1rem;
            right: 1rem;
            z-index: 1;
        }
    }

    &:hover .cardContainerHead {
        top: 0;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    &:hover .scrollIcon{
        display: none;
    }
    &:hover .cardContainerHead .scrollBack{
        display: block;
    }
    .aboutContainer{
        background-color: $light-color;
        padding: 1rem;
        bottom:-4rem;
        position: absolute;
        top: calc(100% + 4rem);
        width: 100%;
        overflow: hidden;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        transition: .5s ease-in-out;
        opacity: 0;
    }
    &:hover .aboutContainer{
        top: 5rem;
        opacity: 1;
    }
    

}

.hideGradient{
    position: absolute;       
    width: 100%;
    height: 6.5rem;
    bottom:0;
    left:50%;
    transform: translate(-50%);
    background: linear-gradient(180deg, rgba(255, 251, 255, 0) 0%, #FFFBFF 57.32%);
   
}

.feature {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
}
.featureText {
    font-size: .75rem;
    opacity: 1;
}
.buttons {
    position: absolute;
    display: flex;
    gap: 4.5rem;
    left: 50%;
    transform: translate(-50%);
    bottom: 4rem;
}
.btnSkip, .btnLike {
    width: 4.125rem;
    height: 4.125rem;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(0px 24px 48px rgba(40, 6, 40, 0.1)) drop-shadow(0px 12.15px 20.925px rgba(40, 6, 40, 0.0675)) drop-shadow(0px 4.8px 7.8px rgba(40, 6, 40, 0.05)) drop-shadow(0px 1.05px 2.775px rgba(40, 6, 40, 0.0325));
}
.btnSkip {
    background-color: $light-color;
}
.btnLike {
    background-color: $accent-color;
}