.debug {
    border: 2px solid red;
}

.smIcon {
    height: 1.5rem;
    width: 1.5rem;
}

.routerLink__reset{
    text-decoration: none;
    cursor: pointer;
    transition: .1s;
    -webkit-tap-highlight-color: transparent;
}