.registerationLayout {
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem 0;
}

.layoutContent {
  flex: 1;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;

  &Column {
    width: 100%;
  }
}