.container {
    max-width: 640px;
    min-width: 360px;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
  }