.imageless {
    content: url('../../../icon-park-solid_avatar.svg');
}

.birthday, .phone-number, .gender {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.avatar-and-name {
    display: flex;
    align-items: center;
    gap: 0 12px;
}

.avatar-and-name #img {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    border: 1px solid gray;
}