@use '../../../styles/_colors.scss' as *;

.navButton, .navButton__icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
    stroke: transparent;
    stroke-width: 0px;
    stroke-linejoin: round;
    transition: .3s;
}

.navButton:hover, .navButton__icon:hover, .navButton.navButton--active, .navButton__icon.navButton__icon--active {
    width: 2.5rem;
    height: 2.5rem;
}


.navButton__icon:hover, .navButton__icon.navButton__icon--active {
    stroke: $accent-color;
    stroke-width: 3px;
}