@use '../../../styles/_colors.scss' as *;

.navButton {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: .1s;
    -webkit-tap-highlight-color: transparent;

    & .navButton__icon {
        stroke-width: 0px;
        stroke: var(--text-color);
    }

    &_active {
        transform: scale(1.15);

        & .navButton__icon {
            stroke: $accent-color;
            stroke-width: 2px;
        }
    }
}
