@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Lato:wght@400;700&display=swap');

/* Set core body defaults */
html, body {
  height: 100%;
}

#root{
  height: 100%;
}

a {
  text-decoration: none;
}
// we must define variables at root scss
// otherwise we can't bypass styles incapsulation
:root {
  // Variables for light palete
  --bg-color: #FFFBFF;
  --secondary-bg-color: #fff;
  --text-color: #0D1B2A;

  .dark {
    // Variables for dark palete
    --text-color: white;
    --bg-color: #0D1B2A;
    --secondary-bg-color: #192B3E;
  }
}